[user]
	name = Max Harlow
	useConfigOnly = true

[init]
	defaultBranch = main

[alias]
    ls = log --pretty=format:"%C(yellow)%h\\ %Creset%s%Cblue\\ [%an]%C(cyan)%d" --decorate

[fetch]
	prune = true

[diff]
    algorithm = histogram
    colorMoved = plain
